.container {
    max-width: 1180px;
}

.play_btn {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.play_btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transform: scale(1.03);
    transition: 0.3s background ease-in;
}